<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <!-- Command IDs -->
    <extension point="org.eclipse.ui.commands">

        <category description="RACK Commands"
            id="rackplugin.commands" name="RACK Commands">
        </category>

        <command categoryId="rackplugin.commands"
            id="rackplugin.commands.clearAll" name="Clear RACK">
        </command>

        <command categoryId="rackplugin.commands"
            id="rackplugin.commands.uploadOwlModels" name="Upload Ontology">
        </command>

        <command categoryId="rackplugin.commands"
            id="rackplugin.commands.uploadNodegroups" name="Upload Nodegroup(s)">
        </command>

        <command categoryId="rackplugin.commands"
            id="rackplugin.commands.uploadIngestionPackage"
            name="Upload as Ingestion Package">
        </command>

        <command categoryId="rackplugin.commands"
            id="rackplugin.commands.ingestInstanceData" name="Manifest Import">
        </command>
        <!-- <command categoryId="rackplugin.commands" id="rackplugin.commands.gsnCommand"
            name="Load Assurance Case"> </command> -->
        <command categoryId="rackplugin.commands"
            id="rackplugin.commands.settingCommand" name="RACK Settings">
        </command>
        <command categoryId="rackplugin.commands"
            id="rackplugin.commands.buildIngestionNodegroups"
            name="Build All Ingestion Nodegroups">
        </command>
        <command id="rackplugin.commands.setProjectTypeCommand"
            name="Set Project Type">
            <commandParameter id="rackplugin.projectType"
                name="Project Type Parameter" optional="false">
            </commandParameter>
        </command>
        <command
            id="rackplugin.commands.setProjectAsDataPackageCommand"
            name="Set Project as Instance Data">
            <commandParameter id="rackplugin.projectType"
                name="Project Type Parameter" optional="false">
            </commandParameter>
        </command>

        <!-- For reports -->
        <command categoryId="rackplugin.commands"
            id="rackplugin.commands.reportsCommand"
            name="Generate DO178C Reports">
        </command>

        <!-- For auto Gsn -->
        <command categoryId="rackplugin.commands"
            id="rackplugin.commands.autoGsnCommand"
            name="Automatic GSN Inference">
        </command>

        <!-- For semtk browser -->
        <command categoryId="rackplugin.commands"
            id="rackplugin.commands.ribCommand" name="Access RiB">
        </command>

        <command id="rack.plugin.commands.showNumTriplesCommand"
            name="Show Data Graphs and number of triples currently on RACK">
        </command>

        <command id="rack.plugin.commands.refreshCommand"
            name="Refresh Ontologies and Nodegroups">
        </command>

    </extension>

    <!-- UI Handlers -->
    <extension point="org.eclipse.ui.handlers">

        <handler class="com.ge.research.rack.ClearAllHandler"
            commandId="rackplugin.commands.clearAll">
        </handler>

        <handler class="com.ge.research.rack.UploadOwlModelsHandler"
            commandId="rackplugin.commands.uploadOwlModels">
            <enabledWhen>
                <with variable="selection">
                    <count value="1" />
                    <iterate>
                        <adapt type="org.eclipse.core.resources.IProject" />
                    </iterate>
                </with>
            </enabledWhen>
        </handler>

        <handler class="com.ge.research.rack.UploadNodegroupsHandler"
            commandId="rackplugin.commands.uploadNodegroups">
            <enabledWhen>
                <with variable="selection">
                    <count value="+" />
                    <iterate ifEmpty="false" operator="and">
                        <or>
                            <instanceof
                                value="org.eclipse.core.resources.IProject" />
                            <adapt type="org.eclipse.core.resources.IFile">
                                <test property="org.eclipse.core.resources.name"
                                    value="*.json" />
                            </adapt>
                            <instanceof value="org.eclipse.core.resources.IFolder" />
                        </or>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>

        <handler
            class="com.ge.research.rack.UploadIngestionPackageHandler"
            commandId="rackplugin.commands.uploadIngestionPackage">
            <enabledWhen>
                <with variable="selection">
                    <count value="+" />
                    <iterate ifEmpty="false" operator="and">
                        <or>
                            <instanceof
                                value="org.eclipse.core.resources.IProject" />
                            <adapt type="org.eclipse.core.resources.IFile">
                                <test property="org.eclipse.core.resources.name"
                                    value="*.zip" />
                            </adapt>
                            <instanceof value="org.eclipse.core.resources.IFolder" />
                        </or>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>

        <handler
            class="com.ge.research.rack.IngestInstanceDataHandler"
            commandId="rackplugin.commands.ingestInstanceData">
            <enabledWhen>
                <test args="null" forcePluginActivation="true"
                    property="com.ge.research.rack.isManifestSelected" value="true">
                </test>
            </enabledWhen>

        </handler>
        <!-- <handler class="com.ge.research.rack.LoadAssuranceCaseHandler" commandId="rackplugin.commands.gsnCommand">
            <enabledWhen> <reference definitionId="com.ge.research.rack.eObjectSelected">
            </reference> </enabledWhen> </handler> -->
        <handler class="com.ge.research.rack.RackSettingHandler"
            commandId="rackplugin.commands.settingCommand">
        </handler>
        <handler
            class="com.ge.research.rack.BuildIngestionNodegroupsHandler"
            commandId="rackplugin.commands.buildIngestionNodegroups">
        </handler>
        <handler class="com.ge.research.rack.RegenerateManifest"
            commandId="rackplugin.commands.regenerateManifest">
        </handler>
        <handler class="com.ge.research.rack.SetProjectTypeHandler"
            commandId="rackplugin.commands.setProjectTypeCommand">
        </handler>
        <handler class="com.ge.research.rack.SetProjectTypeHandler"
            commandId="rackplugin.commands.setProjectAsDataPackageCommand">
        </handler>
        <!-- For reports -->
        <handler class="com.ge.research.rack.ReportButtonHandler"
            commandId="rackplugin.commands.reportsCommand">
        </handler>
        <!-- For auto Gsn -->
        <handler class="com.ge.research.rack.AutoGsnButtonHandler"
            commandId="rackplugin.commands.autoGsnCommand">
        </handler>
        <!-- For semtk browser -->
        <handler class="com.ge.research.rack.RibButtonHandler"
            commandId="rackplugin.commands.ribCommand">
        </handler>
        <handler class="com.ge.research.rack.RefreshHandler"
            commandId="rack.plugin.commands.refreshCommand">
        </handler>
        <handler class="com.ge.research.rack.ShowNumTriplesHandler"
            commandId="rack.plugin.commands.showNumTriplesCommand">
        </handler>

    </extension>
    <extension point="org.eclipse.ui.bindings"></extension>


    <!-- UI Menus (Navbar > RACK Dropdown) -->
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">

            <menu id="rackplugin.menus.sampleMenu" label="RACK" mnemonic="M">
                <!-- <command commandId="rackplugin.commands.uploadOwlModels" id="rackplugin.menus.uploadOwlModels"
                    label="Upload Ontology" mnemonic="S"> </command> -->
                <command
                    commandId="rackplugin.commands.buildIngestionNodegroups"
                    id="rackplugin.menus.buildIngestionNodegroups"
                    label="Generate All Ingestion Nodegroups" mnemonic="S">
                </command>
                <command commandId="rackplugin.commands.regenerateManifest"
                    id="rackplugin.menus.regenerateManifest"
                    label="Regenerate manifest file" mnemonic="R">
                </command>
                <command commandId="rackplugin.commands.ingestInstanceData"
                    id="rackplugin.menus.ingestInstanceData" label="Manifest Import"
                    mnemonic="S">
                </command>
                <command commandId="rackplugin.commands.clearAll"
                    id="rackplugin.menus.clearAll" label="Clear RACK" mnemonic="S">
                </command>

                <separator name="separator2" visible="true">
                </separator>

                <!-- <command commandId="rackplugin.commands.loadQueriesCommand" id="rackplugin.menus.loadQueries"
                    label="Load Query Nodegroups from Disk" mnemonic="S"> </command> -->

                <command commandId="rackplugin.commands.reportsCommand"
                    id="rackplugin.menus.reports" label="DO-178C Compliance Report"
                    mnemonic="S" style="push">
                </command>

                <!-- For auto Gsn -->
                <command commandId="rackplugin.commands.autoGsnCommand"
                    id="rackplugin.menus.autoGsn" label="Automatic GSN Inference"
                    mnemonic="S" style="push">
                </command>

                <!--<!-For semtk browser-> <command commandId="rackplugin.commands.ribCommand"
                    id="rackplugin.menus.rib" label="Access RiB" mnemonic="S" style="push"> </command> -->

                <command commandId="rackplugin.commands.settingCommand"
                    id="rackplugin.menus.setting" label="RACK Settings" mnemonic="S">
                </command>
            </menu>
        </menuContribution>

        <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
        </menuContribution>

        <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar id="rack.plugin.toolbars.refreshInfo">
                <command commandId="rack.plugin.commands.refreshCommand"
                    icon="icons/refresh.png" id="rack.plugin.toolbars.refreshCommand"
                    tooltip="Refresh Ontology and Nodegroups views with latest information on RACK">
                </command>
            </toolbar>
        </menuContribution>

        <!-- <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar id="rack.plugin.toolbars.showNumTriples"> <command commandId="rack.plugin.commands.showNumTriplesCommand"
            icon="icons/ontclass.png" id="rack.plugin.toolbars.showNumTriplesCommand"
            tooltip="Show Data graphs with number of triples currently on RACK"> </command>
            </toolbar> </menuContribution> -->

    </extension>

    <!-- UI Views (Navbar > Window > Show View > Other) -->
    <extension point="org.eclipse.ui.views">
        <category id="rackplugin" name="RACK views">
        </category>
        <view category="rackplugin"
            class="com.ge.research.rack.views.OntologyTreeView"
            id="rackplugin.views.TreeView" inject="true" name="Ontology Info">
        </view>
        <view category="rackplugin"
            class="com.ge.research.rack.views.InstanceDataEditor"
            id="rackplugin.views.SampleTableView" inject="true"
            name="Create Instance Data">
        </view>
        <view category="rackplugin"
            class="com.ge.research.rack.views.NodegroupTemplateView"
            id="rackplugin.views.CSVTemplates" inject="true"
            name="View CDR Templates">
        </view>
        <view category="rackplugin"
            class="com.ge.research.rack.views.AssuranceCaseTree"
            id="rackplugin.views.AssuranceCaseTree" inject="true"
            name="Assurance Case GSN">
        </view>
        <view category="rackplugin"
            class="com.ge.research.rack.views.NodegroupColumnView"
            id="rackplugin.views.ManageCSVColumns" inject="true"
            name="Add/Remove Columns for Nodegroup">
        </view>
        <view category="rackplugin"
            class="com.ge.research.rack.views.QueryResultsView"
            id="rackplugin.views.QueryResults" inject="true" name="Query Results">
        </view>
        <view category="rackplugin"
            class="com.ge.research.rack.views.NodegroupsView"
            id="rackplugin.views.NodegroupsView" inject="true"
            name="Nodegroup Store">
        </view>
    </extension>

    <extension point="org.eclipse.help.contexts">
        <contexts file="contexts.xml">
        </contexts>
        <contexts file="contexts.xml">
        </contexts>
        <contexts file="contexts.xml">
        </contexts>
        <contexts file="contexts.xml">
        </contexts>
        <contexts file="contexts.xml">
        </contexts>
        <contexts file="contexts.xml">
        </contexts>
        <contexts file="contexts.xml">
        </contexts>
        <contexts file="contexts.xml">
        </contexts>
        <contexts file="contexts.xml">
        </contexts>
    </extension>

    <!-- <extension point="org.eclipse.ui.menus"> <menuContribution label="GSN"
        locationURI="popup:org.eclipse.ui.popup.any"> <command commandId="rackplugin.commands.gsnCommand"
        name="Load Assurance Case"> <visibleWhen> <with variable="selection"> <count
        value="1" /> <iterate> <adapt type="org.eclipse.core.resources.IFile" />
        </iterate> </with> </visibleWhen> </command> </menuContribution> </extension> -->

    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
            <command commandId="rackplugin.commands.ingestInstanceData"
                name="Manifest Import">
                <enabledWhen>
                    <test args="null" forcePluginActivation="true"
                        property="com.ge.research.rack.isManifestSelected" value="true">
                    </test>
                </enabledWhen>
                <visibleWhen>
                    <with variable="selection">
                        <count value="1" />
                        <iterate>
                            <adapt type="org.eclipse.core.resources.IFile" />
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>


    <extension point="org.eclipse.ui.menus">
        <menuContribution label="projectDataPackage"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=export">
            <separator name="separator-id" visible="true">
            </separator>
            <command
                commandId="rackplugin.commands.setProjectAsDataPackageCommand"
                label="Set as RACK Project" name="Set as Instance Data Project">
                <visibleWhen>
                    <with variable="selection">
                        <count value="1" />
                        <iterate>
                            <adapt type="org.eclipse.core.resources.IProject" />
                        </iterate>
                    </with>
                </visibleWhen>
                <parameter name="rackplugin.projectType"
                    value="rackplugin.DataPackage">
                </parameter>
            </command>
        </menuContribution>
    </extension>
    <!-- <extension point="org.eclipse.ui.menus"> <menuContribution label="uploadOwlModels"
        locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=rackplugin.commands.setProjectAsDataPackageCommand">
        <command commandId="rackplugin.commands.uploadOwlModels" label="Upload Ontology"
        name="Upload Ontology"> <visibleWhen> <with variable="selection"> <count
        value="1" /> <iterate> <adapt type="org.eclipse.core.resources.IProject"
        /> </iterate> </with> </visibleWhen> </command> </menuContribution> </extension> -->

    <extension point="org.eclipse.ui.menus">
        <menuContribution label="uploadNodegroups"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=rackplugin.commands.setProjectAsDataPackageCommand">
            <separator name="separator-id" visible="true"></separator>
            <command commandId="rackplugin.commands.uploadNodegroups"
                label="Upload Nodegroup(s)" name="Upload Nodegroups">
                <visibleWhen>
                    <with variable="selection">
                        <count value="+" />
                        <iterate ifEmpty="false" operator="and">
                            <or>
                                <instanceof
                                    value="org.eclipse.core.resources.IProject" />
                                <instanceof value="org.eclipse.core.resources.IFile" />
                                <instanceof
                                    value="org.eclipse.core.resources.IFolder" />
                            </or>
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution label="uploadIngestionPackage"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=rackplugin.commands.uploadNodegroups">
            <command
                commandId="rackplugin.commands.uploadIngestionPackage"
                label="Upload as Ingestion Package" name="Upload Ingestion Package">
                <visibleWhen>
                    <with variable="selection">
                        <count value="+" />
                        <iterate ifEmpty="false" operator="and">
                            <or>
                                <instanceof
                                    value="org.eclipse.core.resources.IProject" />
                                <instanceof value="org.eclipse.core.resources.IFile" />
                                <instanceof
                                    value="org.eclipse.core.resources.IFolder" />
                            </or>
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>

    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="com.ge.research.rack.eObjectSelected">
            <with variable="selection">
                <and>
                    <count value="1">
                    </count>
                    <iterate ifEmpty="false" operator="and">
                        <or>
                            <instanceof
                                value="org.eclipse.core.resources.IProject">
                            </instanceof>
                            <instanceof value="org.eclipse.core.resources.IFile">
                            </instanceof>
                            <instanceof value="org.eclipse.core.resources.IFolder">
                            </instanceof>
                        </or>
                    </iterate>
                </and>
            </with>
        </definition>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page id="com.ge.research.rack.pref"
            class="com.ge.research.rack.views.RackPreferencePage" name="RACK"
            category="com.ge.research.rack.settings" />
    </extension>

    <extension
        point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
            class="com.ge.research.rack.ManifestSelectedPropertyTester"
            id="com.ge.research.rack.manifestSelected"
            namespace="com.ge.research.rack" properties="isManifestSelected"
            type="java.lang.Object">
        </propertyTester>
    </extension>

</plugin>
